body {
    background:linear-gradient(rgb(183, 255, 183),rgb(159, 241, 25),rgb(5, 121, 5),darkgreen);
}
h1 {
    text-align:center;
    font-family: Rubik Bubbles;
    color:rgb(129, 228, 179);
    text-shadow: 0px 0px 7px darkgreen, 0px 3px 0px yellowgreen;
    border-style:double;
    border-color: rgb(53, 153, 53);
    box-shadow: 0px 0px 10px darkgreen;
}
#Gnome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0px 3px 4px black;
}
#image {
    border-style: groove;
    border-width: 7px;
    border-color: rgb(54, 185, 54);
    box-shadow: 0px 0px 4px green;
    display:block;
    margin-left: auto;
    margin-right:auto;
}